.social-media-icons ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}
.social-media-icons li {
  display: inline-block;
}

.social-media-icons li:not(:last-child){
  padding-right: 10px;
}

.social-media-icons img {
  width: 25px;
}
